body{
  background-color: #f6f8f9;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

header, nav, main{
  background-color: #ffffff;
}

nav{
  margin-top: 35px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  padding-top: 12px;
  padding-bottom: 8px;
}

header{
  padding: 5px;
  font-size: 35px;
  font-weight: bold;
}

nav,main{
  margin-left: 300px;
  margin-right: 400px;
}

section{
  margin-top: 2px;
  padding-top: 35px;
  
}

main{
  padding-bottom: 35px;
}

.logoname{
  display: inline-block;
  

}

.navbuttons, main{
  padding-left: 40px;
}

.logoname, .logo{
  vertical-align: middle;
}

.bluebutton, .transparentbutton{
  vertical-align: middle;
  font-size: 11px;
  border-radius: 4px;
  padding: 5px;
  height: 25px;
   
  
 }


 .bluebutton{
   width: 60px;
 }

 .transparentbutton{
   background-color: transparent;
   border: 1px solid #c5cbd0;
   color: #c5cbd0;
   width: 80px;
 }
 

 .bluestyle{
  background-color: #47adf1;
  
  }

 .violetstyle{
    background-color:  #9c72e4;
    
 } 
 

  .greenstyle{
    background-color: #64c0a9;
    
  }
  
 
  .orangestyle{
  background-color:#f29e33;
 
  }
  

  .purplestyle{
  background-color:#d863a1;

  }
  
  .lightgreenstyle{
    background-color: #b0c926;
  }    
  

 .buttons{
  border: none;
  color: #ffffff;
 }


 .titles{
  font-weight: bold;
}

.titles ~ div{
  margin-top: 20px;
}


span:nth-child(2){
  margin-left: 5px;
  border: none;
  color: #ffffff;
  font-size: 9px;
  padding: 6px 10px;
  border-radius: 15px;

}